<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python" arguments="app.py" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" />
  </system.webServer>
</configuration>
